#pacman-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transition-property: width, height, left, top;

  &.active {
    top: -100%;
    left: 0;
    align-items: flex-end;
  }

  .game {
    width: 100%;
    height: 90vh;
    border: 1px solid red;
    background-color: #000;
    display: none;

    .pac-map {
      height: 100%;
      width: 100%;
      position: relative;

      .pac-row {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pac-col {
        width: 50px;
        height: 50px;

        &.dot {
          position: relative;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: #eee;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &.wall {
          border-color: white;
          border-style: solid;
          border-width: 1px;

          &::before {
            display: none;
          }
        }
      }

      .pac {
        width: 40px;
        height: 40px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;

        .pac-mouth {
          position: absolute;
          display: inline-block;
          inset: 0;
          content: "";
          background-color: black;
          animation: 0.2s linear infinite;
          animation-name: hello;
        }

        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: black;
          left: 50%;
          top: 20%;
        }

        @keyframes hello {
          0% {
            clip-path: polygon(100% 100%, 44% 48%, 100% 0%);
          }
          50% {
            clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
          }
          100% {
            clip-path: polygon(100% 100%, 44% 48%, 100% 0%);
          }
        }
      }

      .monster {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;

        .eye {
          position: absolute;
          content: "";
          width: 12px;
          height: 15px;
          background-color: #fff;
          border-radius: 50%;
          top: 20%;
          left: 20%;

          &:nth-of-type(2) {
            left: 60%;
          }

          .eye-ball {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            content: "";
            background-color: black;
          }
        }

        .monster-mouth {
          position: absolute;
          inset: 0;
          content: "";
          clip-path: polygon(
            0% 100%,
            16% 80%,
            33% 100%,
            49% 80%,
            67% 100%,
            84% 80%,
            100% 100%
          );
          animation: monster-mouth 0.3s linear infinite;
          background-color: black;
        }

        @keyframes monster-mouth {
          0% {
            clip-path: polygon(
              0% 100%,
              16% 80%,
              33% 100%,
              49% 80%,
              67% 100%,
              84% 80%,
              100% 100%
            );
          }

          100% {
            clip-path: polygon(
              0% 100%,
              12.5% 80%,
              25% 100%,
              37.5% 80%,
              50% 100%,
              62.5% 80%,
              75% 100%,
              87.5% 80%,
              100% 100%
            );
          }
        }
      }
    }
  }

  #extra-data {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: none;
    transition: all 0.3s ease-in-out;

    #pacman-lives {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 2rem;
        color: red;

        i.break {
          animation: break-heart 1s linear;
        }

        @keyframes break-heart {
          0% {
            transform: translate(0, 0);
          }
          30% {
            transform: translate(0, -20px);
            opacity: 1;
          }
          100% {
            transform: translate(0, 100px);
            opacity: 0;
          }
        }
      }
    }

    &.game-over {
      left: 50%;
      top: 50%;
      border: 4px solid white;
      padding: 4rem;
      transform: translate(-50%, -50%);
      background-color: black;
      color: white;
      font-size: 3rem;
      font-weight: bold;
      border-radius: 10px;
      z-index: 100;
      flex-direction: column;

      #pacman-lives {
        display: none;
      }

      #play-again-pac {
        border: 1px solid white;
        padding: 10px 20px;
        background-color: black;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: inline-block;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }

    #play-again-pac {
      display: none;
    }
  }

  .start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font: 1.7rem "Roboto", sans-serif;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
